.r1{
    background-color: orangered;
    color: white;
}
.c1{
    text-align: center;
    margin-left: 80px;
}
.cp{
    margin-left:-100px;
    margin-right: 250px; 
}
.size{
    width: 15px;
    height: 15px;
    margin: 10px;
}
.hh{
    height: 10px;
}
.ml{
    margin-left: 150px;
}
.mm{
    margin-left: 1000px ;
}
.mp{
    padding: 10px;
}
.ma{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.ff{
    margin-top: 50px;
    font-family: 'Ysabeau Infant', sans-serif;
}
.ss{
    background-image: url(image/pexels-dariusz-grosa-736355.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cl{
    color: white;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 40px;
}
.cc{
    padding-left: 200px;
    padding-top: 300px;
    
}
.cf{
    padding-left: 200px;
    color: black;
}
#pp{
    text-align: center;
    padding-top: 20px;
}
.cs{
    padding-left: 200px;
    color: white;
    font-family: 'Agdasima', sans-serif;
}
#pi{
    padding-top: 100px;
}
#pl{
    padding-top: 30px;
}
.car{
    height: 150px;
    width: 450px;
}
.tt{
    padding-top: 50px;
    padding-bottom: 50px;
}
#pad{
    padding: 10px;
}
.gallery{
    height: 400px;
    width: 450px;
    margin: 20px;
}
#bor{
    border-bottom: 2px solid rgba(255, 255, 255, 0.541);
    

}
.ga{
    color: white;
}
.mar{
    padding-left: 100px;
    padding-top: 30px;
}
.head{
    font-size: 30px;
}
.ed{
    text-align: end;
}
.mml{;}