.r1{
    background-color: orangered;
    color: white;
}
.c1{
    text-align: center;
    margin-left: 80px;
}
.cp{
    margin-left:-100px;
    margin-right: 250px; 
}
.size{
    width: 15px;
    height: 15px;
    margin: 10px;
}
.ml{
    margin-left: 150px;
}
.mm{
    margin-left: 800px ;
}
.mp{
    padding: 5px;
}
.ma{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.ff{
    margin-top: 50px;
    font-family: 'Ysabeau Infant', sans-serif;
}
.ss{
    background-image: url(image/pexels-dariusz-grosa-736355.jpg);
}
#cl{
    color: white;
    font-family: 'Ysabeau Infant', sans-serif;
}
